@model MusicPortal.Models.AccountModels.ConfirmUsers

@{
    ViewBag.Title = "Confirm Users";
}

<section>
    <h1>Пользователи</h1>
    <div class="searchSection">
        <input class="searchInput" type="text" placeholder="Search Here...">
        <button>
            <img src="~/src/img/AcceptUsers/Search.svg" alt="">
        </button>
        <button>
            <img src="~/src/img/AcceptUsers/Settings.svg" alt="">
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Avatar
                </th>
                <th>
                    Name
                </th>
                <th>
                    IsAuth
                </th>
                <th>
                    IsAdmin
                </th>
                <th>
                    Email
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
            <tr>
                <td>
                        @if (Model.ImagePaths.ContainsKey(item.Id))
                        {
                            <img draggable="false" src="@Model.ImagePaths[item.Id]" alt="User Avatar">
                        }
                        else
                        {
                            <img draggable="false" src="~/path/to/default/avatar.jpg" alt="Default Avatar">
                        }
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Login)
                </td>
                    <td class="is-auth-cell" data-user-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.IsAuth)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    <form id="createMessageForm">
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактирование</a> |
                    </form>
                        <a href="javascript:void(0)" class="details-user-btn" data-id="@item.Id">Подробности</a> |
                        <a href="javascript:void(0)" class="delete-user-btn" data-id="@item.Id">Удаление</a> |
                </td>
                <td>
                        <form>
                            <a href="javascript:void(0)" class="auth-user-btn" data-id="@item.Id">Авторизировать</a>
                        </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section scripts {
<script>

    // AJAX

    $(document).ready(function () {

        // Auth
        $(".auth-user-btn").click(function () {

            var UserId = $(this).data("id");

            $.ajax({
                type: "POST",
                    url: "/Account/AuthUser/" + UserId,
                dataType: 'json',
                success: function (data) {
                    console.log("Auth User");
                        var userId = data.userId;
                        $('.is-auth-cell[data-user-id="' + userId + '"]').find('input.check-box').prop('checked', true);
                },
                error: function (error) {
                    console.error("Error creating message:", error);
                }
            });

        });

        // Details
            $(".details-user-btn").click(function () {

                var UserId = $(this).data("id");

                $.ajax({
                    type: "POST",
                    url: "/Account/Index/" + UserId,
                    dataType: 'json',
                    success: function (data) {
                        console.log("Index User");
                        var userId = data.userId;
                        $('.is-auth-cell[data-user-id="' + userId + '"]').closest('tr').remove();
                    },
                    error: function (error) {
                        console.error("Error creating message:", error);
                    }
                });

            });

        // Delete
            $(".delete-user-btn").click(function () {

                var UserId = $(this).data("id");

                $.ajax({
                    type: "POST",
                    url: "/Account/Delete/" + UserId,
                    dataType: 'json',
                    success: function (data) {
                        console.log("Delete User");
                        var userId = data.userId;
                        $('.is-auth-cell[data-user-id="' + userId + '"]').closest('tr').remove();
                    },
                    error: function (error) {
                        console.error("Error creating message:", error);
                    }
                });

            });
    });

</script>
}