@model MusicPortal.Models.AccountModels.UserIndexViewModel;

<section>
    <img id="UserAvatar" src="@Context.Session.GetString("imagePath")" alt="">
    <h1>@Html.DisplayFor(model => model.User.Login)</h1>
        <h3>Default User</h3>
        <div class="AddedAudio">
            <div class="AddedPlaylistTitle">
                <h4>Added Playlist</h4>
                <button>View All</button>
            </div>
            <div class="AddedAudioPlaylistContainer">

                <div class="AddedAudioPlaylistItem">
                    <img class="AddedAudioPlaylistImageItem" src="/src/img/ContentSide/Album.png" alt="">
                    <p>Name: My New Playlist</p>
                    <p>Author: Faceless 1-7</p>
                </div>

                <div class="AddedAudioPlaylistItem">
                    <img class="AddedAudioPlaylistImageItem" src="/src/img/ContentSide/Album.png" alt="">
                    <p>Name: My New Playlist</p>
                    <p>Author: Faceless 1-7</p>
                </div>

            </div>
        </div>

        <div class="ListeningHistory">
            <div class="AddedPlaylistTitle">
                <h4>Added Audio</h4>
                <button>View All</button>
            </div>

        <div class="ListeningHistoryContainer">
            @foreach (var item in Model.audio)
            {
                <div class="ListeningHistoryItem">
                    <div class="LeftSide">
                        <img class="ListeningHistoryItemPlayIcon" src="/src/img/UserIndex/play.svg" alt="">
                        <img class="ListeningHistoryItemAlbumImage" src="@item.Path" alt="">

                        <div class="ListeningHistoryItemInformation">
                            <p>@item.Title</p>
                            <p>@item.Author</p>
                        </div>
                    </div>
 @*                    <div class="ListeningHistoryItemAlbumInformation">
                        <p>@item.AlbumTitle</p>
                    </div>

                    <div class="ListeningHistoryItemDurationInformation">
                        <p>@item.Duration</p>
                    </div> *@
                </div>
            }
        </div>
        </div>

        <div class="EditBtns">
            <button class="AuthBtn">Authorize</button>
            <button class="DeleteBtn">Delete</button>
        </div>
    </section>