
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicPortal</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/checkbox.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Input.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ConfirmUsers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/UserIndex.css" asp-append-version="true" />
</head>
<body>

    <!-- Content -->
    <div class="ContentPage">
        <header>
            <!-- Container -->
            <div class="container">

                <!-- Left Bar -->
                <div class="leftBar">

                    <!-- Left Bar Logo -->
                    <div class="leftBar-logo">
                        <a href="/"><img src="~/src/img/Logo.svg" alt=""></a>
                    </div>
                    <!-- Left Bar Top Options -->
                    <ul>
                        <li><a href="/"><img src="~/src/img/Home.svg" alt="">@PL.Resources.Resource.Home</a></li>
                        <li><a href="/Songs/Search"><img src="~/src/img/Search.svg" alt="">@PL.Resources.Resource.Search</a></li>
                        <li><a href="/"><img src="~/src/img/YourLibrary.svg" alt="">@PL.Resources.Resource.YourLibrary</a></li>
                        @if (Context.Session.GetString("IsAuth") == "True")
                        {
                            <li><a href="/Songs/Create"><img src="~/src/img/YourLibrary.svg" alt="">@PL.Resources.Resource.AddAudio</a></li>
                            <li><a href="/Genres/Index"><img src="~/src/img/YourLibrary.svg" alt="">@PL.Resources.Resource.AddGenre</a></li>
                        }
                        else
                        {
                            
                        }
                    </ul>

                    <!-- Left Bar Middle Options -->
                    <ul class="LeftBar-Middle-Options">
                        <li class="MiddleOption">
                            <h2>Create First Playlist</h2>
                            <h3>It's not difficult at all, we will help</h3>
                            <button>Create</button>
                        </li>
                    </ul>


                    <!-- Left Bar Middle Options Already Have Something in Playlist -->
                    <div class="LeftBar-Middle-Options-Playlist">

                        <div class="Settings-playlist">
                            <img src="~/src/img/Search.svg" alt="">
                            <button id="openModalBtn2">@PL.Resources.Resource.RecentlyListening</button>
                        </div>

                        <div class="song-elementPlaylist" draggable="false">
                            <div class="elementPlaylist-item">
                                <img class="song-image" draggable="false" src="~/Images/Track2.jpg" alt="">
                                <h1 class="song-title">Playlist 1</h1>
                            </div>

                            <div class="elementPlaylist-item">
                                <img class="song-image" draggable="false" src="~/Images/Track1.jpg" alt="">
                                <h1 class="song-title">Playlist 2</h1>
                            </div>

                            <div class="elementPlaylist-item">
                                <img class="song-image" draggable="false" src="~/Images/Audio4.jpg" alt="">
                                <h1 class="song-title">Playlist 3</h1>
                            </div>

                            <div class="elementPlaylist-item">
                                <img class="song-image" draggable="false" src="~/Images/Track3.jpg" alt="">
                                <h1 class="song-title">Playlist 3</h1>
                            </div>
                        </div>

                        <!-- <li><img src="src/img/LikedSongs.svg" alt=""><a href="/">Liked Songs</a></img></li> -->
                    </div>

                </div>
            </div>
        </header>

        <!-- Hero Section -->

        <div class="heroSection">

            <div class="heroSection-nav">
                <div class="HistoryButtons">
                    <a class="PreviousHistory" href="#" onclick="goBack()">
                        <img src="~/src/img/HeaderSide/PreviousHistory.svg" alt="" id="previousImage">
                    </a>
                    <a class="NextHistory" href="#" onclick="goForward()">
                        <img src="~/src/img/HeaderSide/NextHistory.svg" alt="" id="nextImage">
                    </a>
                </div>
                @using (Html.BeginForm("ChangeCulture", "Account"))
                {
                    <select name="lang" class="form-control">
                        <option value="ru">Русский</option>
                        <option value="en">English</option>
                        <option value="ua">Українська</option>
                        <option value="fr">Français</option>
                    </select>
                    <input type="submit" name="submit" value="Find" class="btn btn-default">
                }
                @if (Context.Session.GetString("Login") != null)
                {
                    <div class="UserInformation">
                        <div class="UserInformation-Avatar">
                            @if (Context.Session.TryGetValue("UserImage", out var userImageBytes) && userImageBytes.Length > 0)
                            {
                                <img draggable="false" src="@Context.Session.GetString("UserImage")" alt="User Avatar">
                            }
                            else
                            {
                                <img draggable="false" src="@Context.Session.GetString("UserImage")" alt="User Avatar">
                                <div>@Context.Session.GetString("UserImage")</div>
                            }
                        </div>
                        <p>@Context.Session.GetString("Login")</p>
                        <button id="openModalBtn1"><img src="~/src/img/HeaderSide/ProfileMore.svg" alt=""></button>
                    </div>
                }
                else
                {
                    <div class="AuthenticationLinks">
                        <a asp-controller="Account" asp-action="SignUp">@PL.Resources.Resource.SignUp</a>
                        <button>
                            <a asp-controller="Account" asp-action="SignIn">@PL.Resources.Resource.SignIn</a>
                        </button>
                    </div>
                }
            </div>

            <section>
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </section>
        </div>




        <!-- Playlist -->
        <div class="playList">

            <!-- Playlist Left Side -->
            <div class="playList-LeftSide">
                <img id="current-song-image" class="playList-LeftSide-Image">
                <div class="playList-LeftSide-Content">
                    <div id="current-song-title" class="playList-LeftSide-Title"></div>
                    <div id="playList-LeftSide-Writers"></div>
                </div>
                <img src="~/src/img/DownSidePlaylist/Favorite.svg" alt="">
            </div>

            <!-- Аудио Тег -->
            <audio id="main-audio-player" class="audio-player" controls>
                <source src="" type="audio/mp3">
            </audio>

            <!-- Playlist Middle Side -->
            <div class="playList-MiddleSide">
                <div class="songEditSide">
                    <img src="~/src/img/DownSidePlaylist/RandomSongs.svg" alt="">
                    <img src="~/src/img/DownSidePlaylist/PreviousSong.svg" alt="" onclick="previousSong()">
                    <img src="~/src/img/DownSidePlaylist/StartPauseSong.svg" alt="" onclick="togglePlayPause()">
                    <img src="~/src/img/DownSidePlaylist/NextSong.svg" alt="" onclick="nextSong()">
                    <img src="~/src/img/DownSidePlaylist/RepeatSong.svg" alt="">
                </div>

                <div class="songDuration">
                    <p id="currentTime">0:00</p>
                    <input type="range" id="seekSlider" min="0" step="1" value="0" onchange="seekSong()">
                    <p id="totalTime">0:00</p>
                </div>
            </div>

            <div class="playList-rightSide">
                <img src="~/src/img/DownSidePlaylist/RightSide/AboutWriter.svg" alt="">
                <img src="~/src/img/DownSidePlaylist/RightSide/SoundHandler.svg" alt="">
                <input type="range" id="volumeSlider" min="0" max="100" value="50" step="1" onchange="adjustVolume()">
                <img src="~/src/img/DownSidePlaylist/RightSide/FullScrean.svg" alt="">
            </div>
        </div>

        <!-- Модальное окно 1 -->
        <div id="myModal1" class="modal">
            <!-- Контент модального окна -->
            <div class="modal-content">
                
                @if (Context.Session.GetString("IsAdmin") == "True")
                {
                    <a asp-controller="Account" asp-action="ConfirmUsers">Resource.Resource.AdminPanel</a>
                }
                <a class="profile-link" asp-controller="Account" asp-action="Index" asp-route-id="@Context.Session.GetString("UserId")">Resource.Resource.Profile</a>
                <a href="/">Resource.Resource.Settings</a>
                <a asp-controller="Home" asp-action="Logout">Resource.Resource.Logout</a>
            </div>
        </div>

        <!-- Модальное окно 2 -->
        <div id="myModal2" class="myModal2">

            <div class="modal-content">
                <h3>Сортировка</h3>
                <a href="/">Recently Listen</a>
                <a href="/">Recently Added</a>
                <a href="/">By Alphabet</a>
                <a href="/">By Author</a>
                <h3>Формат Библиотеки</h3>
                <ul>
                    <label class="custom-radio">
                        <input type="radio" name="option" />
                        <span class="radio-text">Option 1</span>
                    </label>

                    <label class="custom-radio">
                        <input type="radio" name="option" />
                        <span class="radio-text">Option 2</span>
                    </label>

                    <label class="custom-radio">
                        <input type="radio" name="option" />
                        <span class="radio-text">Option 3</span>
                    </label>
                    <input type="range" id="volumeSlider" min="0" max="100" value="50" step="1" />
                </ul>
            </div>
        </div>

        <script defer src="~/js/index.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
<script>

    // AJAX 






    // Audio 

    var audioPlayer = document.getElementById('main-audio-player');
    var seekSlider = document.getElementById('seekSlider');
    var currentTimeDisplay = document.getElementById('currentTime');
    var totalTimeDisplay = document.getElementById('totalTime');

    function togglePlayPause() {
        if (audioPlayer.paused) {
            audioPlayer.play();
        } else {
            audioPlayer.pause();
        }
    }

    function previousSong() {

    }

    function nextSong() {

    }

    function seekSong() {
        var seekTime = audioPlayer.duration * (seekSlider.value / 100);
        audioPlayer.currentTime = seekTime;
    }

    audioPlayer.addEventListener('timeupdate', function () {
        var currentTime = audioPlayer.currentTime;
        var duration = audioPlayer.duration;

        var minutes = Math.floor(currentTime / 60);
        var seconds = Math.floor(currentTime % 60);
        currentTimeDisplay.textContent = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;

        minutes = Math.floor(duration / 60);
        seconds = Math.floor(duration % 60);
        totalTimeDisplay.textContent = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;

        seekSlider.value = (currentTime / duration) * 100;
    });

    function adjustVolume() {
        var volumeSlider = document.getElementById('volumeSlider');
        audioPlayer.volume = volumeSlider.value / 100;
    }

    // Tabs

    function goBack() {
        history.back();
        document.getElementById('previousImage').classList.add('active');
        document.getElementById('nextImage').classList.remove('active');
    }

    function goForward() {
        history.forward();
        document.getElementById('nextImage').classList.add('active');
        document.getElementById('previousImage').classList.remove('active');
    }


    document.addEventListener('DOMContentLoaded', function () {

        var mainAudioPlayer = document.getElementById('main-audio-player');


        var DownLeftSidePlaylist = document.querySelector('.playList-LeftSide');


        mainAudioPlayer.style.display = 'none';

        var currentSongTitle = document.getElementById('current-song-title');
        var currentSongImage = document.getElementById('current-song-image');
        var currentSongAuthor = document.getElementById('playList-LeftSide-Writers')

        var songElements = document.querySelectorAll('.song-element');


        songElements.forEach(function (songElement) {
            songElement.addEventListener('click', function () {

                var audioSrc = songElement.getAttribute('data-audio-src');
                var songTitle = songElement.querySelector('.song-title').textContent;
                var songImage = songElement.querySelector('.song-image').getAttribute('src');
                var songAuthor = songElement.querySelector('.song-writer').textContent

                mainAudioPlayer.src = audioSrc;
                mainAudioPlayer.play();
                

                DownLeftSidePlaylist.style.visibility = 'visible';
                currentSongAuthor.textContent = songAuthor;

                currentSongTitle.textContent = songTitle;
                currentSongImage.setAttribute('src', songImage);

                currentSongTitle.style.display = 'block';
                currentSongImage.style.display = 'block';
            });
        });
    });
</script>