@model MusicPortal.Models.SearchViewModels.IndexViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
	<form method="get">
    <div class="searchSection">

       <input name="position" value="@Model.FilterViewModel.SelectedInput" class="searchInput" type="text" placeholder="Artists, songs, or podcasts">

        <button>
            <img src="~/src/img/AcceptUsers/Search.svg" alt="">
        </button>
            <button type="button" id="openModalBtn3"><img src="~/src/img/SettingsFilter.svg" /></button>

    </div>
    </form>

    <div class="ContentSection">

        <h1>Browse all</h1>
        <div class="Songs-Container">
            @foreach (var item in Model.Audios)
            {
                var index = 0;
                <div class="ListeningHistoryItem">
                    <div class="LeftSide">
                        <img class="ListeningHistoryItemPlayIcon" src="/src/img/UserIndex/play.svg" alt="">
                        <img class="ListeningHistoryItemAlbumImage" src="@Model.ImagePaths.ElementAtOrDefault(index)" alt="">
                        <div class="ListeningHistoryItemInformationTitle">
                            <p>@item.Title</p>
                        </div>
                        <div class="ListeningHistoryItemInformationAuthor">
                            <p>@item.Author</p>
                        </div>
                        <div class="ListeningHistoryItemInformationGenre">
                            @if (Model.Genres.ContainsKey(item.Id) && Model.Genres[item.Id].Any())
                            {
                                <p>Genres: @string.Join(", ", Model.Genres[item.Id].Select(genre => genre.Name))</p>
                            }
                            else
                            {
                                <p>No genres available</p>
                            }
                        </div>
                    </div>
                </div>
                index++;
            }
        
        </div>
        <!-- Модальное окно 2 -->
        <form method="get">
        <div id="myModal3" class="myModal2">
            <div class="modal-content">
                <h3>Сортировка</h3>
                <a asp-action="Search" asp-route-sortOrder="@(Model.SortViewModel.NameSort)">
                    Sort By Name
                </a>
                <a asp-action="Search" asp-route-sortOrder="@(Model.SortViewModel.AuthorSort)">
                    Sort By Author
                </a>
                <a asp-action="Search" asp-route-sortOrder="@(Model.SortViewModel.GenreSort)">
                    Sort By Genre
                </a>
                <h3>Фильтр</h3>
                <ul>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="option" id="option1" onclick="showInput('input1')" />
                        <span class="checkbox-text">Фильтр по Названию</span>
                    </label>
                        <input name="position" value="@Model.FilterViewModel.SelectedInput" class="searchInput" type="text" placeholder="Songs, or podcasts Name">

                    <label class="custom-checkbox">
                        <input type="checkbox" name="option" id="option2" onclick="showInput('input2')" />
                        <span class="checkbox-text">Фильтр по Автору</span>
                    </label>
                        <input name="author" value="@Model.FilterViewModel.SelectedAuthor" class="searchInput" type="text" placeholder="Artists">

                    <label class="custom-checkbox">
                        <input type="checkbox" name="option" id="option3" onclick="showInput('input3')" />
                        <span class="checkbox-text">Фильтр по Жанру</span>
                    </label>
                    <select name="team" asp-items="Model.FilterViewModel.Genres"></select>
                </ul>
                <button type="submit">Применить</button>
            </div>
        </div>
        </form>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Search"
               asp-route-position="@(Model.FilterViewModel.SelectedInput)"
               asp-route-team="@(Model.FilterViewModel.SelectedTeam)"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="glyphicon glyphicon-chevron-left">
                Назад
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Search"
               asp-route-position="@(Model.FilterViewModel.SelectedInput)"
               asp-route-team="@(Model.FilterViewModel.SelectedTeam)"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="glyphicon glyphicon-chevron-right">
                Вперед
            </a>
        }

    </div>
</section>
<script>
    var openModalBtn3 = document.getElementById('openModalBtn3');
    var modal3 = document.getElementById('myModal3');

    function openModal(modal, btn) {
        var rect = btn.getBoundingClientRect();
        var leftOffset = 150;
        modal.style.top = rect.bottom + 10 + 'px';
        modal.style.left = rect.left - leftOffset + 'px';
        modal.style.display = 'block';
    }



    function closeModal(modal) {
        modal.style.display = 'none';
    }

    // Открытие модального окна при клике на кнопку 3
    openModalBtn3.addEventListener('click', function () {
        openModal(modal3, openModalBtn3);
    });


    // Закрытие модального окна при клике вне его области
    window.addEventListener('click', function (event) {
        if (event.target === modal3) {
            closeModal(modal3);
        }
    });

    // Закрытие модального окна при скролле
    window.addEventListener('scroll', function () {
        closeModal(modal3);
    });

    // Закрытие модального окна при клике в другое место
    document.addEventListener('click', function (event) {
        if (!openModalBtn3.contains(event.target) && !modal3.contains(event.target)) {
            closeModal(modal3);
        }
    });

function showInput(inputId) {
    var inputs = document.querySelectorAll('.custom-checkbox input[type="text"]');
    inputs.forEach(function (input) {
        if (input.id === inputId) {
            input.classList.remove("hidden");
        } else {
            input.classList.add("hidden");
        }
    });
}
</script>